{%- extends "templates/base.html" -%}
{%- import "macros/amp.jnj" as amp -%}

{%- set page = {
  'title': 'Parrots, the Universe and Everything',
  'subtitle': 'Full Transcript',
  'url': 'https://nokyotsu.com/parrots/',
  'sections': [
      'en/0_intro.md',
      'en/1_ayeaye.md',
      'en/2_komodo.md',
      'en/3_kakapo.md',
      'en/4_yangtze.md',
      'en/5_human.md',
      'en/6_questions.md',
  ]
} -%}

{%- block content -%}
This is one of the last public appearances of [[Douglas Adams]] in which he talks
about his book, [[Last Chance to See]], coauthored with [[Mark Carwardine]].
The talk was given at the University of California, Santa Barbara, and recorded
about a month before his death.

{{ amp.youtube(id='_ZG8HBuDjgc', width=560, height=315) }}

Below you can find the full transcript in English---completed with the help of
many anonymous contributors---with links and a few extra notes.

With the help of many volunteers the transcript also has served as base to
create subtitles in English, Greek, Spanish and French. At amara.org you can
watch [the subtitled video][subtitled] and contribute providing translations
to other languages.

[subtitled]: https://amara.org/en/videos/yoedZnaqoAov/info/douglas-adams-parrots-the-universe-and-everything/

{% for section in page.sections %}
  {% include section %}

{% endfor %}

<p class="action-description">
&copy; Copyright 2001. Regents of the University of California. All Rights
Reserved.
</p>
{%- endblock -%}
